
# Godot-specific ignores
.import/
*.import
*.md5
*.stex
export.cfg
export_presets.cfg

# Releases
Releases/
html_release.zip
import

# Mono-specific ignores
.mono/
data_*/

# Generated vectors using power points
vectors_for_images.pptx
~$vectors_for_images.pptx

# Latex related files
*.aux
*.fdb_latexmk
*.log
*.synctex.gz
*.log
*.bbl
*.out


AWS_Lambda_golang/
# Godot specific files
Godot/graph_visualizer/.vscode/*
Godot/graph_visualizer/.vs/*
Godot/graph_visualizer/.import/
Godot/graph_visualizer/export.cfg
Godot/graph_visualizer/export_presets.cfg

AzureFunction/*

# Personal meeting files
*.meeting